body {
    font-family: 'Poppins', sans-serif;
}

table {
    border-collapse: collapse;
}

#table_heading {
    background-color: #907fe9;
    color: white;
}

table td,
table th {
    border: 1px solid black;
    padding: 5px;
}


#table_body {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f3f3f9;
}

#table_foto {
    display: block;
    overflow-x: scroll;
    width: 700px;
    height: 100px;
    border: none;
    border-bottom: 1px solid black;
}

#table_informatie {
    display: block;
    overflow-y: scroll;
    height: 100px;
    border: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

crud-box {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px 70px;
    min-height: 800px;
    height: 100%;
    max-width: 1350px;
    width: 100%;
    margin-top: 100px;
    margin-left: 50%;
    margin-bottom: 100px;
    transform: translate(-50%);
    border-radius: 20px;
}

crud {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    padding: 30px;
    background-color: white;
    margin-right: 10px;
}

form h3 {
    margin-top: 0;
}

input {
    height: 40px;
    margin-bottom: 10px;
    border: none;
    background-color: #f3f3f9;
    color: #828282;
    padding-left: 10px;
}

input[type=submit] {
    height: 40px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    background-color: #6c55e1bd;
    font-weight: 600;
    cursor: pointer;
}

#none {
    display: none;
}