body {
    margin: 0;
    background-color: #f6f7fc;
    background-image: url('../assets/media/background.jpg') !important;
    background-size: 250px;
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif;
}

#home {
    color: #29c6da;
}

navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    height: 100%;
    max-width: 1600vw;
    width: 100%;
    background-color: #ffffff;
}

nav-left {
    position: relative;
    display: flex;
    min-height: 100%;
    max-width: 735px;
    width: 100%;
}

nav-right {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    min-height: 100%;
    max-width: 735px;
    width: 100%;
}

navbar a {
    font-size: 30px;
    color: #b0b0ba;
    padding: 0 30px 0 30px;
}

navbar a :hover {
    font-size: 30px;
    color: #9281ea;
    transition: 0.3s;
}

main-box {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px 70px;
    min-height: 800px;
    height: 100%;
    max-width: 1410px;
    width: 100%;
    margin-top: 100px;
    margin-left: 50%;
    margin-bottom: 100px;
    transform: translate(-50%);
    border-radius: 20px;
}

main-box input {
    min-height: 200px;
    height: 100%;
    max-width: 200px;
    width: 100%;
    border: 2px solid #b0b0ba;
    border-radius: 20px;
}

search-bar {
    position: relative;
    height: fit-content;
    width: fit-content;
}

#search-icon {
    position: absolute;
}

items {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    border-radius: 15px;
    background-color: #ffffff;
    transition: 0.1s;
}

items button {
    background-color: transparent;
    border: none;
}

items:hover {
    transform: scale(102%);
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.089);
}

items:hover img {
    transform: scale(104%);
    cursor: pointer;
    transition: 0.2s;
}

items img {
    align-self: center;
    height: 200px;
    width: 200px;
    margin-left: 0;
    margin-top: 20px;
}

naam {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 18px;
}

grootte {
    position: absolute;
    bottom: 35px;
    left: 25px;
    font-size: 16px;
    color: #95959d;
}

gewicht {
    position: absolute;
    bottom: 20px;
    left: 25px;
    font-size: 16px;
    color: #95959d;

}

prijs {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

info {
    display: none;
}

selected-item {
    position: fixed;
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-height: 700px;
    width: 100%;
    max-width: 1100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6f7fd;
    border-radius: 15px;
}

#weg {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 16px;
    background-color: #ffffff00;
    cursor: pointer;
    transition: 0.1s;
}

#weg:hover {
    transform: scale(110%);
    transition: 0.2s;
}

#img {
    height: 400px;
    width: 400px;
}

informatie-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 475px;
    height: 100%;
    max-height: 575px;
    padding: 25px;
    border-radius: 15px;
    background-color: #ffffff;
}

#naam {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

#info {
    font-size: 15px;
}

extra-info {
    display: flex;
    justify-content: space-between;
    width: 270px;
    color: #95959d;
}

#add {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 270px;
    bottom: 25px;
    left: 25px;
    margin-top: 17px;
    border: none;
    border-radius: 15px;
    background-color: #29c6da;
    color: #ffffff;
    font-size: 14px;
    gap: 10px;
}