body {
    margin: 0;
    background-color: #f6f7fc;
    background-image: url('../assets/media/background.jpg');
    background-size: 250px;
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif;
}

#home {
    color: #81d7c7;
}

navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    height: 100%;
    max-width: 100vw;
    width: 100%;
    background-color: #ffffff;
}

nav-left {
    position: relative;
    display: flex;
    min-height: 100%;
    max-width: 800px;
    width: 100%;
}

nav-right {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    min-height: 100%;
    max-width: 800px;
    width: 100%;
}

navbar a {
    font-size: 30px;
    color: #b0b0ba;
    padding: 0 30px 0 30px;
}

navbar a :hover {
    font-size: 30px;
    color: #b0b0ba;
    padding: 0 30px 0 30px;
}

main-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
    min-height: 800px;
    height: 100%;
    max-width: 1540px;
    width: 100%;
    margin-top: 100px;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    background-color: #ffffff;
}

main-box input {
    min-height: 200px;
    height: 100%;
    max-width: 200px;
    width: 100%;
    border: 2px solid #b0b0ba;
    border-radius: 20px;
}

search-bar {
    position: relative;
    height: fit-content;
    width: fit-content;
}

#search-icon {
    position: absolute;
}